<mat-toolbar color="accent">Entries</mat-toolbar>
<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel [expanded]="false" *ngFor="let show of shows">
    <mat-expansion-panel-header>
      {{ show.name }}
    </mat-expansion-panel-header>
    <p><b>Info</b></p>
    <p>{{ show.info }}</p>
    <p><b>Seasons</b> </p>
    <p>{{ show.snum }}</p>
    <p><b>Episodes</b></p>
    <p>{{ show.epnum }}</p>
    <mat-action-row>
      <button mat-button (click)="onDelete(show._id)" color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No posts added yet!</p> 