<mat-card class="main-style">
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <textarea matInput placeholder="Show Title"  type="text" name="name" ngModel required  #name="ngModel"></textarea>
      <mat-error *ngIf="name.invalid">Please enter a Show title.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea matInput placeholder="Information"  rows="1" name="info" ngModel required #info="ngModel"></textarea>
      <mat-error *ngIf="info.invalid">Please show info.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Season(s)"  type="number" name="snum" ngModel required  #snum="ngModel">
        <mat-error *ngIf="snum.invalid">Season(s).</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Episodes"  type="number" name="epnum" ngModel required #epnum="ngModel">
        <mat-error *ngIf="epnum.invalid">Episodes.</mat-error>
      </mat-form-field>
      
    <br>
    <button mat-raised-button color="accent" type="submit">Save Entry</button>
    <br>


  </form>
</mat-card>